[2022-06-14 14:06] adrian-fjellberg opened #1 "Captions for memes are cut off"
**Whats the issue?**
When the caption on memes are too long they get cut of.

![image](https://user-images.githubusercontent.com/7628745/173597075-f34ac535-509c-41e0-8349-684dd3aaae12.png)

**Possible solution**
Maybe we can use a smaller font or let the caption break to a new line?

Original report:
https://discord.com/channels/928449627383037953/974677207400185856/986257024385974324

[2022-06-14 14:12] Geralt-of-R1via commented on #1
1. We can break long tittles into new rows but that's gonna expand across the whole page. In a few months when there is 100-200 memes daily and half of them break title into a few rows, that's gonna be killer for mobile users.
2. Restrict the number of letters available for the tittle

[2022-06-14 14:19] CryptoKnorry69 opened #2 "Clicking 2 times to add a gif"
When adding a gif to the memesite, it needs 2 clicks in the selection screen to get selected, otherwise it just goes back to the select screen.

[2022-06-14 14:42] Geralt-of-R1via opened #3 "OG NFT discount fee not calculated right"
OG NFT discount fee is showing 75% discount for 2 OG's

Minting pop up screen is showing different discount, 57%

![222222](https://user-images.githubusercontent.com/107487414/173605708-2ca41906-e181-4529-a453-063f9c9c945f.JPG)

![111111](https://user-images.githubusercontent.com/107487414/173605808-5e9f03fb-a505-49bf-bcb9-409ac199e82d.JPG)

[2022-06-14 14:51] adrian-fjellberg commented on #3
@Topstar-web Could you take a look at this?

I think 75% is the one that is correct. Take a look at this message:
https://discord.com/channels/905377023072043018/960511730344153098/985980743169769542

[2022-06-14 14:56] Geralt-of-R1via commented on #3
Nothing happens when I open a link. Only discord with a blank page

[2022-06-14 15:05] Geralt-of-R1via commented on #3
According to Mr.Google msg's 2 OG's should provide 75% discount fee

[2022-06-14 15:21] adrian-fjellberg commented on #3
Thanks for clarifying @Geralt-of-R1via

[2022-06-14 15:22] adrian-fjellberg commented on #2
@CryptoKnorry69 Please add additional information or close the issue.

[2022-06-14 15:35] adrian-fjellberg commented on #1
Thanks for input @Geralt-of-R1via. I think restricting the number of characters to 30 max and then having a smaller font size is the way to go.

@Topstar-web Can you add a validation for the title length should not be more than 30 characters on when creating a meme? Also, when displaying a meme, if the character count is less than 20 characters you can use a bigger font.

@NeoDashboard Can you add

[2022-06-14 18:18] adrian-fjellberg opened #5 "Should we add more categories?"
**Is your feature request related to a problem? Please describe.**
Some users might be frustrated with not finding the correct categories.

**Describe the solution you'd like**
Add a but-load of more categories.

**Describe alternatives you've considered**
I think it might be nice to "launch" new categories each month as part of our marketing schedule.

I would like feedback on "adding categories

[2022-06-14 18:19] BorisOG commented on #5
Yes 100%

[2022-06-14 18:27] adrian-fjellberg opened #6 "Information on the V2 site is outdated"
**Describe the bug**
The information on the V2 site is outdated. The following pages should be updated:

- "Project & Ecosystem": https://development.nudes-army-webpage.pages.dev/what-is-nudes-token
- "Get started": https://development.nudes-army-webpage.pages.dev/get-started

**Expected behavior**
I expect the information to be up to date with the new features and how the site works.

@hellobordo

[2022-06-14 18:28] adrian-fjellberg commented on #6
Here is the copy that @hellobordois wrote for the "Get started" page.

[code]

[2022-06-14 18:32] adrian-fjellberg commented on #6
Maybe the pages should have a new design?

I will ask Freezz if he can make something once @hellobordois is done with finalizing the copy for the "Project & Ecosystem page.

But even before we have a new design I think Shinestar can implement the new copy/text ASAP. Could you please do that @Topstar-web ?

[2022-06-14 18:39] BorisOG opened #8 "+ show more button is showing only few categories before click + when you click there is no show less button to go back"
+ show more button is showing only few categories before click + when  you click there is no show less button to go back.
![picture 1](https://user-images.githubusercontent.com/107487995/173665129-aa797056-c569-43d8-a423-5f24482c073a.JPG)
![picture 2](https://user-images.githubusercontent.com/107487995/173665132-fd19d0f2-a67c-45e8-b01a-b5cfbae8b352.JPG)

[2022-06-14 19:17] hellobordois commented on #6
Yes I will write new copy for the Project and Ecosystem page.

[2022-06-14 19:27] adrian-fjellberg commented on #8
@Topstar-web Could you add a "Sow less" button? 🙏  Can be the same style as "Show more".

[2022-06-14 20:05] adrian-fjellberg opened #10 "Adding a profile page"
**Is your feature request related to a problem? Please describe.**
Right now, here are couple of things I want to do:
- I want to be able to see all the memes that user has posted.
- I want to be able to see all the post that I have commented on or upvoted.

**Describe the solution you'd like**
I would like a profile page where you can see:
- All the memes a user has posted.
- All the memes a user

[2022-06-14 20:11] adrian-fjellberg commented on #6
@FreezzCrypto Could you make a design with the copy above for the following pages?

1. "Get started"-page
2. "Project & Ecosystem"-page

Make it as sexy as you want with supplementary graphics, but remember to add mobile view to the design (so maybe not to complicated 😅 )

[2022-06-14 20:31] zatouroff opened #11 "Posting a meme gives up an "Error" pop up, but posts successfully."
When I Mint&Publish a meme, next pop-up screen shows an error as shown in the screenshot below. But it was successful since I can see my memes on the website. Posted 3 memes, 2 of them gave an error screen. All of them are published.

https://i.ibb.co/hCTpjG0/error-after-clicking-mint-and-publish.jpg

 - OS X 12.2.1
 - Firefox
 - v 101.0.1

[2022-06-14 20:33] BorisOG commented on #11
I will just add that this is also what I experienced and after error it is successful posted but counter is not working, it is not updating that new meme is posted 1/3 and I posted 2.

[2022-06-14 20:35] hellobordois opened #12 "Adding a preview image of individual memes"
I recommend adding a preview image of the individual meme when links are posted instead of the memesite header image.

<img width="770" alt="Screen Shot 2022-06-14 at 4 33 10 PM" src="https://user-images.githubusercontent.com/107487385/173683622-56c62e04-9f5f-4f58-b699-03a91aac7867.png">

[2022-06-14 20:39] adrian-fjellberg commented on #11
Could you open console in the browser next time to see if there is any errors? Also check the "Network" tab in the developer console in the browser. Do you know how to do this?

[2022-06-14 20:42] BorisOG commented on #11
@adrian-fjellberg
https://development.nudes-army-webpage.pages.dev/view/6f7c9f7e-55de-4766-910f-58928d4091fc
https://development.nudes-army-webpage.pages.dev/view/e8136bb7-e16d-4fce-81ea-95f1a4c5f47c
![not updating](https://user-images.githubusercontent.com/107487995/173684950-a98c94ab-a4bf-4d5a-81bb-0b8450c08670.JPG)

[2022-06-14 20:47] BorisOG opened #13 "Tooltip on "My account" not working"
![if you don't have nft this needs to tell you](https://user-images.githubusercontent.com/107487995/173685863-b48bae21-2e9e-4f7a-a3c8-b07edb2841ca.JPG)

As you see when you click, it will not show anything, it is empty ( no options )

--- Edit by atlazor ---

Adding context/feedback from user:

[2022-06-14 20:56] adrian-fjellberg commented on #12
This is easier said than done. We use a framework called Vue.js for our sites frontend. Vue.js is a Single Page Application framework, which means that it actually only loads just one file (index.html) no matter where you enter the page (be it /memes or /info). This causes the social media crawler to allays fetch metadata from the same page (the homepage/index.html), and as a result, the metadata

[2022-06-14 20:57] adrian-fjellberg commented on #13
@Topstar-web Is this the tooltip issue?

[2022-06-14 21:17] zatouroff commented on #13
Rusty said it was working in Chrome, but it's not showing anything in Firefox (v 101.0.1 / OS X) too.

[2022-06-14 21:44] zatouroff opened #14 "A filter to check out a user's memes without scrolling the history."
It'd be nice if you could filter your own memes only. So you can easily see how they're doing. Or being able to see a user's posted meme history.

[2022-06-14 21:47] zatouroff commented on #11
Yeah, I'll notify when it happens again.

[2022-06-14 22:40] Geralt-of-R1via opened #15 "Clicking on meme image opens new tab every time Vs image in full size"
**Describe the bug**

@Whitedwarf

when you click on a meme image, it opens a new tab/page with just that meme on it, which is fine. But then clicking the image again opens the same page up in a new tab. Every time you click on the image in a new tab, a new tab opens

https://discord.com/channels/928449627383037953/974677207400185856/986395247149998152

**Expected behavior**

 - I would expect it

[2022-06-14 22:41] Geralt-of-R1via opened #16 "Comment feature not working on single meme page"
When you click on the meme image and a new tab appears. Comment feature is not working on that new page

https://discord.com/channels/928449627383037953/974677207400185856/986395375017545788

[2022-06-15 00:01] JollyHodler commented on #5
Describe the solution you'd like:

Current Events
Random
Car
Pop Culture
Video
Poorly designed
History
Movie and TV
Satisfying
Travel and photography
Wholesome
Food
Art
Music
Sports
Tech

I think these are good categories too include (eventually).

Describe alternatives you've considered
I have considered all alternatives I could find.  I think there are TOO MANY categories on 9gag for example (it

[2022-06-15 00:44] hellobordois opened #17 "Remove header image on Memes page"
Remove header image on Memes page so users don't have to scroll down to use the platform every time.

<img width="1421" alt="Screen Shot 2022-06-14 at 8 43 51 PM" src="https://user-images.githubusercontent.com/107487385/173712668-4cc592f2-dff9-4a11-a3d6-66186dad6ca9.png">

[2022-06-15 00:47] hellobordois opened #18 "Comment button not working on page after clicking on a meme"
After clicking a meme I am taken to a page with just that meme, but the comment button does not work on that page.

<img width="665" alt="Screen Shot 2022-06-14 at 8 46 46 PM" src="https://user-images.githubusercontent.com/107487385/173712920-bd8a4755-3ef4-4224-a475-29a6efbd4c57.png">

[2022-06-15 00:51] hellobordois opened #19 "Top Creators Username and NUDES number are awfully close to each other and will cross over eventually"
Top Creators Username and NUDES number are awfully close and will cross over eventually.

<img width="311" alt="Screen Shot 2022-06-14 at 8 49 58 PM" src="https://user-images.githubusercontent.com/107487385/173713301-899d7247-f7e2-44b1-8146-bc0029e1c9ef.png">

[2022-06-15 01:19] hellobordois opened #20 "Username button does nothing when clicked on other pages"
Username button does nothing when clicked on pages that aren't the Memes page.

<img width="1299" alt="Screen Shot 2022-06-14 at 9 17 49 PM" src="https://user-images.githubusercontent.com/107487385/173715953-722f9c16-e565-4828-9e6d-8a17f85dd499.png">

[2022-06-15 01:39] hellobordois opened #21 "Date/time stamp incorrect on comment"
Date/time stamp incorrect on comment

<img width="471" alt="Screen Shot 2022-06-14 at 9 38 10 PM" src="https://user-images.githubusercontent.com/107487385/173717901-6719ea73-d4dd-4b62-8e33-f204079a9dbb.png">

[2022-06-15 06:22] adrian-fjellberg commented on #14
Hello @zatouroff

I think this would be a duplicate of this issue, as having a profile would solve that issue: https://github.com/Nudes-Token/feedback/issues/10

[2022-06-15 06:22] #14 closed

[2022-06-15 06:26] adrian-fjellberg commented on #5
Thanks for feedback @JollyHodler 👍

I will discuss with @odd86 and see if we can implement the new categories before launch 🚀

[2022-06-15 06:29] adrian-fjellberg commented on #17
Thanks for adding this @hellobordois.

@FreezzCrypto, do you think you can design a banner/post that can be displayed between other posts to replace this header? The message and CTA's can be the same, except for the "Just show me..", we can remove that.

[2022-06-15 06:33] adrian-fjellberg opened #22 "Move comments underneath the meme"
**Is your feature request related to a problem? Please describe.**
When I want to view comments it is annoying that it opens a new modal.

**Describe the solution you'd like**
I would like to have a solution similar to what 9GAG has. When you click on comments, the page for the meme is opened, and there you can see all the comments beneath the meme. Take a look here:
https://9gag.com/gag/aLvOvGA#c

[2022-06-15 06:36] adrian-fjellberg commented on #18
Hello @hellobordois. I created a separate issue for comments and I think this should fix the issue at the same time https://github.com/Nudes-Token/feedback/issues/22

@Topstar-web, if it's an easy fix to the issue Bordois stated above, then please fix it before we implement the new comment logic/design.

[2022-06-15 06:39] adrian-fjellberg commented on #22
@FreezzCrypto Do you think you can make a new design for how the comments should work? Just ask if you have any questions.

[2022-06-15 06:43] adrian-fjellberg commented on #19
Maybe change to number with unit suffix? In the case in your screenshot it would display `17.78M` istead of `17,785,360`.

@Topstar-web Can you change to use `:unit-suffix="true"` and use `<flm-number />` here if not already done?

[2022-06-15 06:44] adrian-fjellberg commented on #20
@Topstar-web Do you know what causes this issue? Maybe the modal is missing on the other pages. Can you see if you can fix this issue?

[2022-06-15 06:48] adrian-fjellberg commented on #21
@Topstar-web Maybe the timestamp needs to be divided by `1,000`? Can you see if you can resolve this issue?

[2022-06-15 10:58] zatouroff opened #23 "Highlighted topic is not in sync in both sections"
<img width="1072" alt="Screen Shot 2022-06-15 at 13 57 32" src="https://user-images.githubusercontent.com/107487661/173811388-35983bf9-dda1-4393-9081-0c403027647b.png">

When HOT topic is selected from top bar, it's also highlighted on left bar. If I click Trending/Fresh at top bar, left bar stays highlighted on HOT.

But, if I click Trending or Fresh on left bar, both top and left bar highlights

[2022-06-15 11:14] odd86 commented on #12
I will try to find a hack for it!

[2022-06-15 11:42] adrian-fjellberg commented on #5
Copying in Geralt's response here until he gets unbanned.

![image](https://user-images.githubusercontent.com/7628745/173819043-15bac096-5eeb-453d-9f14-55b005a723d9.png)

[2022-06-15 11:44] odd86 opened #24 "After comment it opens voting for last bottom comment"
**Describe the bug**
When I post a comment, the bottom comment voting gets opened

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a meme
2. Click on comment emoji
3. Make a comment
4. See that the voting opens

**Expected behavior**
That voting does not open

![image](https://user-images.githubusercontent.com/7629853/173819473-645d977d-6759-4e73-9143-9b9aba6a494f.png)

[2022-06-15 11:45] adrian-fjellberg commented on #24
@Topstar-web Can you fix this please?

[2022-06-15 11:47] odd86 opened #25 "My Account split to two lines"
**Describe the bug**
For some reason the right menu "My Account" get split to two lines

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. (not sure, maybe adjust width of browser)'
3. See error

**Expected behavior**
For text to be in one line

**Screenshots**
![image](https://user-images.githubusercontent.com/7629853/173820021-e0f5fa53-d524-4772-a202-e5889230d839.png)

[2022-06-15 12:29] odd86 opened #26 "Fix referral code"
**Describe the bug**
When loading the page first time with a referral code, the code is not inserted into the box

**To Reproduce**
Steps to reproduce the behavior:
1. Delete local storage
2. Go to the page with ref code https://development.nudes-army-webpage.pages.dev/?ref=62a87baaa04aca5a83c92157
3. See that the ref code is not in the field (but is there if you refresh.

**Expected behavior**
Th

[2022-06-15 13:07] hellobordois opened #27 "Typos/copy errors in sign up modal"
There are a few typos/copy changes to be made to the Sign Up form.

**Create your NUDES Army account** should be **Create your Nudes Army account**

**start earning NUDES!.** should be **start earning NUDES!**

**Sing up with Twitter** button should be **Sign up with Twitter**

![image](https://user-images.githubusercontent.com/107487385/173833514-f5da5521-eb5f-46d6-8ca3-c7b0f36eba76.png)

[2022-06-15 13:55] zatouroff opened #28 "Posted comment doesn't show until the page is refreshed"
https://discord.com/channels/928449627383037953/976552960395984946/986626928003911687

war3rd — I made a comment but I would recommend having the comment count "refresh" when a comment is added. There were 2 comments on a meme, I made another, but it still shows 2 comments unless I refresh the page. (he's using Chrome)

zatouroff — It's working fine on my side, I can see my own posted comment with

[2022-06-15 15:10] odd86 commented on #20
This should take you to the profile page on v2.1
Maybe now it should just show you the signout modal?

[2022-06-15 16:44] odd86 commented on #27
Fixed

[2022-06-15 16:44] #27 closed

[2022-06-15 17:34] odd86 commented on #26
Fixed

[2022-06-15 17:34] #26 closed

[2022-06-15 17:38] odd86 commented on #25
Fixed

[2022-06-15 17:38] #25 closed

[2022-06-15 18:14] odd86 commented on #19
Fixed

[2022-06-15 18:14] #19 closed

[2022-06-15 18:21] odd86 commented on #8
Fixed

[2022-06-15 18:21] #8 closed

[2022-06-15 18:24] odd86 commented on #20
Fixed. Will go to profile page when we have that

[2022-06-15 18:38] odd86 commented on #23
Fixed

[2022-06-15 18:39] hellobordois commented on #21
Interesting, the screenshot I originally posted in the issue was this comment, and the date and time stamp are fixed now.

<img width="467" alt="Screen Shot 2022-06-15 at 2 38 51 PM" src="https://user-images.githubusercontent.com/107487385/173900841-e6092b3e-a952-43ea-94f2-c990bfd51f8d.png">

[2022-06-15 18:40] odd86 commented on #21
Ok, re-open if it apairs again ;)

[2022-06-15 19:00] odd86 commented on #24
Fixed

[2022-06-15 19:00] #24 closed

[2022-06-15 19:02] adrian-fjellberg commented on #21
I found that the timestamp was incorrect if I made a new comment (and did not refresh the page). My newly added comment had the wrong date @odd86 @hellobordois

[2022-06-15 19:04] adrian-fjellberg commented on #28
Found out how to replicate the bug:

1. Make a comment
2. Close the comment modal
3. Look at the comment count on the meme (not the count in the modal)
4. It has not been updated with the new count (a refresh is needed to see correct count)

Tagging you so you see it @odd86 (if you are working on comments right now)

[2022-06-15 19:10] adrian-fjellberg commented on #20
Not fixed if not logged in when not on the feed page.

How to reproduce:
1. Navigate to https://development.nudes-army-webpage.pages.dev/get-started directly or refresh when on page.
2. The page will not log you back in (separate issue maybe?)
3. When you click the button, nothing happens.

Expected behavior:
- I expect the website to be able to log me back in even if I am not on the feed page.
-

[2022-06-15 19:25] adrian-fjellberg commented on #22
As suggested by Geralt, we should also add the possibility to reply on other comments. Feel free to use the comment structure you feel like @FreezzCrypto (like 9gag, like reddit or maybe like Facebook?).

[2022-06-15 19:26] odd86 commented on #22
I moved it now, we can add replies and notifications later

[2022-06-15 19:29] odd86 commented on #22
It should be a ticket for the request as this ticket is for moving current comments and will be closed soon.

[2022-06-15 19:29] adrian-fjellberg opened #29 "Show more "Top Creators" in sidebar"
**Is your feature request related to a problem? Please describe.**
I want to see more of the "Top Creators" in the sidebar! 😡 5 IS NOT ENOUGH 😆

**Describe the solution you'd like**
It would be nice to see at least 10 "Top Creators" or implement the same "Show more" functionality as in the category section above.

<img width="275" alt="image" src="https://user-images.githubusercontent.com/7628745/

[2022-06-15 19:31] odd86 commented on #29
It is made a new design for Top Creators, Top Voters, Top Commenters.
It will also be a separate page that you can see top 100 if you want to see more :)

[2022-06-15 19:32] adrian-fjellberg commented on #29
We could also add a number indicating the placement?

<img width="257" alt="image" src="https://user-images.githubusercontent.com/7628745/173909335-6bf61bda-c8cd-48d1-82e7-2d01b9449491.png">

[2022-06-15 19:34] odd86 opened #30 "Fix twitter login on mobile"
**Describe the bug**
When using mobile you get taken to the twitter app's browser and need to exit and refresh your chrome page to get it to work

[2022-06-15 19:36] #20 closed

[2022-06-15 19:53] adrian-fjellberg opened #31 "Error message when you have Insufficient NUDES balance when making a comment."
**Describe the bug**
When you have insufficient balance to make a comment, the error message in the toast shown is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a less than 69,420 NUDES in your balance.
2. Try to comment on a meme.
3. See that the error toast on top of the page is empty.

**Expected behavior**
I expect a more concise description of the error. Message can be `In

[2022-06-15 19:55] adrian-fjellberg commented on #24
@odd86 I am still getting this bug. Sure it is fixed?

[2022-06-15 19:58] adrian-fjellberg commented on #22
Let's keep it open as Freezz is designing how it can be improved now that we have more space for it. Then he will also design how replies will work.

[2022-06-15 20:04] odd86 commented on #18
Fixed

[2022-06-15 20:04] #18 closed

[2022-06-15 20:04] odd86 commented on #28
Fixed

[2022-06-15 20:04] #28 closed

[2022-06-15 20:05] odd86 commented on #22
Moved comments to under memes

[2022-06-15 20:14] hellobordois commented on #21
Reopened: Still getting incorrect date/time stamp when commenting.

<img width="471" alt="Screen Shot 2022-06-15 at 4 13 37 PM" src="https://user-images.githubusercontent.com/107487385/173918710-4afd5ddf-036a-40d7-bdb6-7f970772583f.png">

[2022-06-15 20:16] odd86 commented on #31
Fixed

[2022-06-15 20:16] #31 closed

[2022-06-15 20:17] hellobordois opened #32 "Burn counter"
We had added to the article that there would be a fireplace burn counter on the site and I know @FreezzCrypto designed it but I do not see it.

When someone upvotes a meme or a comment, the NUDES burn queue counter on discord should go up as well as a fireplace burn counter on the memes page.

**Fireplace Burn Counter**
A Fireplace Burn Counter shows the number of NUDES to be burned, and later wil

[2022-06-15 20:21] #21 closed

[2022-06-15 20:24] hellobordois commented on #21
@odd86 So even though it still happens on new comments we should let that happen?

[2022-06-15 20:24] adrian-fjellberg commented on #32
It was removed from the site as the UX for it was really confusing for that "sidebar widget". I think it is better to add it back in once the Fireplace page has been implemented. Please remove that paragraph from the article @hellobordois.

[2022-06-15 20:25] #32 closed

[2022-06-15 20:26] adrian-fjellberg commented on #21
I think he means that he fixed the issue with wrong timestamp on the new comments 😄

[2022-06-15 20:27] odd86 commented on #21
The issue is fixed and is being deployed

[2022-06-15 20:27] hellobordois commented on #21
Ah, it wasn't deployed yet. Sorry :)

[2022-06-15 20:32] hellobordois commented on #32
@adrian-fjellberg I also just tested to make sure the upvotes are changing the Burn Queue Counter on Discord but they aren't. Might have to bring NeoDashboard in on this one. Shall we open this issue back up?

[2022-06-15 20:36] odd86 commented on #23
Hmm, still a bug if you click a lot on different filters

[2022-06-15 20:41] adrian-fjellberg commented on #32
Could you open a new one, as this issue relates to the burn counter on the site?

I will change the title on this issue to make it clearer for later reference.

[2022-06-15 21:01] hellobordois opened #33 "The NUDES burn queue counter on Discord does not increase upon upvoting or downvoting on Memes page"
**Description**
When someone upvotes or downvotes a meme or a comment on the Memes page, the NUDES burn queue counter on Discord should increase but it does not.

**To Reproduce**
1. Check the Burn Queue number on Discord
2. Upvote or downvote with NUDES on the Memes page
3. Check to see if the burn queue has changed on Discord

**Expected behavior**
When I upvote or downvote a meme or a comment,

[2022-06-16 00:46] hellobordois opened #34 "Image quality of memes decrease after meme is posted"
Image quality decreases a lot after meme is posted. For example this is a screenshot of a meme I posted on the platform vs a screenshot of the platform (in the same screenshot, and you can see the difference between the upvote circles on the meme vs on the platform).

<img width="245" alt="Screen_Shot_2022-06-15_at_8 39 32_PM" src="https://user-images.githubusercontent.com/107487385/173965356-37ef

[2022-06-16 11:39] adrian-fjellberg commented on #34
Hello @hellobordois! (love writing that BTW, hello hello!)

Compressing images is really important for site performance. We might be compressing to aggressive, but we will have to do some testing on low-speed connections to see. I feel like I already can feel load times for memes on my high speed connection.

I do not have time to test it right now, so I will close this issue for now and we can re

[2022-06-16 11:41] zatouroff commented on #24
Still when I click "upvote meme" button while the comment section is open, NUDES quantity input panel teleports to the bottom of the page, below the comments.

<img width="691" alt="Screen Shot 2022-06-16 at 14 38 42" src="https://user-images.githubusercontent.com/107487661/174062269-8cf5c8cd-e226-4fab-807f-39d5ffb23d16.png">

[2022-06-16 11:46] adrian-fjellberg commented on #24
Seems like a different bug. I will create a separate issue for this.

[2022-06-16 11:49] adrian-fjellberg opened #36 "Visual bug when upvoting a meme while comment section is open"
**Describe the bug**
When having the comment section open on a meme and then clicking on upvote, the form to upvote opens beneath all the comments. When the form opens here it looks like you are voting on the last comment, not the meme itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Open comment section on a meme
2. Click on the green upvote button to vote on the meme (not a comment)

[2022-06-16 11:55] adrian-fjellberg commented on #6
Tagging you here @odd86, if you are not already subscribed to this issue.

@FreezzCrypto has made design for the static pages that are more welcoming and pleasing to the eye for new users. When we implement this design and remove the big hero on the frontpage I think we are much better off 😄

The design can be found here:
https://www.figma.com/file/zknavu2MaNQx4wlRTRGybb/Meme-to-Earn-V2?node-id=95

[2022-06-16 11:55] adrian-fjellberg commented on #6
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/7628745/174064448-c1c32c15-5453-4ea5-92ec-1b88f515b493.png">

[2022-06-16 17:30] hellobordois opened #37 "Commenting cost tooltip copy edits"
Change **up votes** to **upvotes** in first sentence.

Change **Your diversifier** to **Your Fee Discount** and change to percentage.

<img width="236" alt="Screen Shot 2022-06-16 at 1 27 22 PM" src="https://user-images.githubusercontent.com/107487385/174130953-1268cf63-8b92-4ee4-887b-8afab6eb79c7.png">

[2022-06-16 19:38] odd86 commented on #37
Fixed in next build

[2022-06-16 19:38] #37 closed

[2022-06-16 19:38] #36 closed

[2022-06-16 19:39] odd86 commented on #29
Added a button "See More" To go to rankings where you can find a lot of sexy stats
![image](https://user-images.githubusercontent.com/7629853/174151191-00d38a97-4892-4420-9ed8-6654b04ca1c3.png)

[2022-06-16 19:39] #29 closed

[2022-06-16 20:35] hellobordois commented on #17
@FreezzCrypto @adrian-fjellberg Should we maybe put another Create a Meme button in there too? I feel like it should be more front and center. Going to find it on the lower right (often scrolling for it) feels a bit unnatural. Just a thought!

[2022-06-16 20:40] hellobordois commented on #17
But here is what I mean about having to "go dig" for the Create a Meme card:

<img width="1421" alt="Screen Shot 2022-06-16 at 4 39 56 PM" src="https://user-images.githubusercontent.com/107487385/174159778-943ae27e-f5ec-4326-a0a2-e100985ef53c.png">

[2022-06-16 20:45] odd86 commented on #17
To high, but like this
![image](https://user-images.githubusercontent.com/7629853/174160463-8bf7587f-d8f3-4844-84b4-94be4efa0355.png)

[2022-06-17 08:31] zatouroff opened #38 "Clicking on a notification doesn't open it's page while you are in a single meme page (not on landing page)."
**Describe the bug**
While you are checking out a single meme page, clicking a notification doesn't take you to that page. But it works while you are on the landing page (nudes.army)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a single meme page.
2. Click on notification panel.
3. Click "X upvoted your comment" / "X commented on your meme".
4. Error: Page doesn't change.

**Expecte

[2022-06-17 08:46] odd86 commented on #38
Sweet, I will fix this

[2022-06-17 09:36] JollyHodler commented on #5
👍

[2022-06-17 09:42] odd86 commented on #38
Fixed

[2022-06-17 09:42] #38 closed

[2022-06-17 09:42] odd86 commented on #30
Fixed

[2022-06-17 09:42] #30 closed

[2022-06-17 09:49] odd86 commented on #10
We have a profile page now, but it needs some more optimization and is also lacking the "All the memes a user has upvoted".
We can finish this in Milestone for v2.1

[2022-06-17 10:03] odd86 commented on #13
Should work in next build.

[2022-06-17 10:03] #13 closed

[2022-06-17 10:06] odd86 commented on #2
Fixed on development branch

[2022-06-17 10:06] #2 closed

[2022-06-17 10:16] odd86 commented on #1
Fixed

[2022-06-17 10:16] #1 closed

[2022-06-17 10:28] odd86 commented on #6
Fixed by @adrian-fjellberg

[2022-06-17 10:28] #6 closed

[2022-06-17 10:29] odd86 commented on #11
I have not seen this, so if it happens again please get as much info as possible and re-open :)

[2022-06-17 10:29] #11 closed

[2022-06-17 10:40] odd86 commented on #23
Fixed by @adrian-fjellberg

[2022-06-17 10:40] #23 closed

[2022-06-17 10:46] hellobordois commented on #6
@odd86 can you delete the period after Twitter, the sentence ends after righthand corner.

<img width="284" alt="Screen Shot 2022-06-17 at 6 45 33 AM" src="https://user-images.githubusercontent.com/107487385/174283781-beeede5b-6fff-4f97-b16e-647a2d6ab56b.png">

[2022-06-17 10:48] adrian-fjellberg commented on #6
Should be fixed in next push. In a bout 5 minutes from now.

[2022-06-17 11:07] hellobordois commented on #6
@adrian-fjellberg @odd86 the links are backwards I think :D get started goes to project and what is nudes goes to get started.

[2022-06-17 11:07] hellobordois commented on #6
(on the banner)

[2022-06-17 12:54] hellobordois opened #40 "Meme shows comments from a different meme"
**Describe the bug**
Meme shows comments from a different meme

**To Reproduce**
Steps to reproduce the behavior:
1. look at comments on one meme
2. Get notified about a different meme
3. Click on that notification
4. See the new meme but the comments are from the other meme you were looking at

**Expected behavior**
When I see the meme from the notifications link I expect to see the comments asso

[2022-06-17 14:54] odd86 commented on #40
Yes :)

[2022-06-17 14:54] #40 closed

[2022-06-17 17:50] adrian-fjellberg opened #41 "Add video support"
I would love to have video support.

When I browse memes on 9gag, I believe about 50% of all the content is videos, and I love it 😅

[2022-06-17 17:58] hellobordois opened #42 "Downvotes not appearing on meme on main meme pages"
Downvotes appear on individual meme page but not on the meme on any main page.

To reproduce: downvote a meme and look at it on a main meme page vs the meme's individual page. See screenshots.

<img width="718" alt="Screen Shot 2022-06-17 at 1 55 58 PM" src="https://user-images.githubusercontent.com/107487385/174352646-fcef484d-ee16-4ae2-a684-f3887c7c73eb.png">

<img width="723" alt="Screen Shot 2

[2022-06-17 20:02] odd86 opened #43 "Make a favorite section"
**Is your feature request related to a problem? Please describe.**
Make a way to like memes to save them for easy access. Staring them cost nudes and is counted as upvotes

[2022-06-17 20:15] BorisOG opened #44 "Ultra important future [ Promotion hub ] my idea, we need this on main page."
We will pay people in $NUDES to make videos on Yt + TikTok or future platforms in future, we will reward them with $NUDES+ they can always leave ref code, but this is super important for future expansion to add to this main page
![important](https://user-images.githubusercontent.com/107487995/174395408-0f7545c2-f51c-4193-9643-db8bc2890459.JPG)

[2022-06-17 20:22] odd86 commented on #44
We can make a YT video contest or so. First of all, now it should be good enough to have some organic growth, if the site itself dies without us pumping in features and resources I think we have a bad idea, (I do not think that) I just have the business logic that if something is good it will work, if it's not, don't try to keep it artificially alive. Let's see what the next week brings!

[2022-06-17 20:58] adrian-fjellberg opened #46 "Meme-to-earn channels on Discord not working"
**Describe the bug**
The Meme-to-earn channels on Discord not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Post, upvote or downvote a meme
2. Go to discord and check channels under "MEME TO EARN"
3. No updates...

**Expected behavior**
We want the posts, upvotes or downvotes to be reflected on Discord to drive even more engagement. The people with a lot of NUDES on Discord will v

[2022-06-17 21:09] adrian-fjellberg opened #47 "Meme Creator"
When I create memes now I must use Photoshop or some third party meme generator/creator.

I would much rather use an easy-to-use meme creator on the page.

If we make the meme creator really good, then we could possibly gain some SEO ranking on that page.

[2022-06-17 21:13] BorisOG commented on #47
10000%

[2022-06-17 21:20] odd86 opened #48 "A way to buy Nudes"
**Is your feature request related to a problem? Please describe.**
A way to buy nudes on the site, also integrate it with the on-ramp for Flamingo maybe?

[2022-06-17 21:57] odd86 commented on #46
I would say this is not a bug as I have not find a conclusion on how we want it and what is best for the site

[2022-06-18 07:01] adrian-fjellberg commented on #46
Yeah I think links only are a good idea. My thought is that we can use Discord to encourage people to vote on fresh memes, as not everyone will browse the fresh categories.

[2022-06-18 09:26] odd86 commented on #12
Now that we use this buttons for sharing (if you want to do daily task you need to use them since that is the only way to include your id)
![image](https://user-images.githubusercontent.com/7629853/174431518-ea2998d3-412a-4902-a101-be68afdb9ec5.png)

We can make that link go to a Nuxt page or something like that just forwards to Nudes.army?
It won't work if people copy/past the URL, but it will wo

[2022-06-18 10:13] hellobordois commented on #12
@odd86 I wonder how Ghost Market does it? When you share a url of an nft, the nft appears as the preview image.

[2022-06-18 15:32] hellobordois opened #49 "Mobile: User reports seeing an NFT discount of 1M, but has no NFTs, and was charged the 1M to post the meme anyway"
On mobile, user reports seeing an NFT discount of 1M, but has no NFTs and hasn't bound a wallet, and was charged the 1M to post the meme anyway. See screenshot:

![Screenshot_20220618-112025_Samsung_Internet](https://user-images.githubusercontent.com/107487385/174445584-bb5bca01-747c-44ec-83f2-adab66f28fe0.jpeg)

[2022-06-19 10:56] hellobordois opened #50 "Please add upvoting meme and upvoting comment tooltip images as sections on the What is NUDES page (and spacing issue)"
Right now a user still doesn't know the upvoting mechanisms unless they see the tooltip(s). Please add the **upvote a meme** and **upvote a comment** tooltips as a section to the What is NUDES page. The section title can be **Upvoting Mechanisms**

Also the downvote a meme title creates a second line which throws off the symmetry of that tooltip

<img width="453" alt="Screen Shot 2022-06-19 at 6 5

[2022-06-19 13:39] odd86 opened #51 "Make self voting burn 80% and 20% to Single Stake"
**Is your feature request related to a problem? Please describe.**
When a user votes on his own meme or comment, make 80% go to burn and 20% go to single stake

[2022-06-19 20:37] zatouroff opened #52 "Clicking a notification changes the meme but not the comments"
**Describe the bug**
Clicking a notification changes the meme but not the comments

**To Reproduce**
Steps to reproduce the behavior:
1. Open a single meme page and expand the comment section.
2. Click on your username on right bar and click a notification to change the meme.
3. See error. Meme changes but comments not.
4. Click another notification, meme changes again but comments not.
5. Rinse a

[2022-06-19 22:23] zatouroff commented on #52
2 hours passed, it didn't happen after I've visited the website again on a new tab. Glad I took the screenshots tho. Not closing this issue in case you might miss it.

[2022-06-20 19:59] odd86 opened #53 "Make it so we can comment/reply/@ someone in the comment section of the memes"
**Is your feature request related to a problem? Please describe.**
Title says it all

[2022-06-20 20:00] odd86 commented on #50
On this page?
https://nudes.army/what-is-nudes-token

Any good text for it?

[2022-06-21 11:45] adrian-fjellberg commented on #12
I would guess they already chose a framework from the begging that support this. We did not... 😅

[2022-06-21 11:56] adrian-fjellberg commented on #52
@zatouroff I am able to confirm that this bug sill persists.

@Topstar-web Can you see if you can fix this?

[2022-06-21 14:52] JollyHodler opened #54 "Strange categorization"
**Describe the bug**
When choosing meme category for example choosing 'animal' category it puts the word 'hot' in front of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category
2. Click on 'animals'
4. See error: "hot animals". Just sounds wrong.

**Expected behavior**
Remove the "hot" word when selecting categories.

**Screenshots**
![Screenshot_20220621-103945-059~2](https://u

[2022-06-22 10:52] adrian-fjellberg commented on #16
<img width="644" alt="image" src="https://user-images.githubusercontent.com/7628745/175012058-a77e90d0-b5af-4039-9baa-4b0a32af613f.png">

[2022-06-22 10:54] adrian-fjellberg commented on #16
@Geralt-of-R1via I am not able to replicate the "comment button dosn't work" action. Are you?

[2022-06-22 10:56] adrian-fjellberg commented on #54
Haha. That is true. This was added by me to give some context to mobile users with what filter and category they have currently selected in the menu that pops up when clicking that Filter-button.

I thin I can do better. Maybe like this?
- Animals (hot)
- Crypto (fresh)

What do you think @JollyHodler ?

[2022-06-22 13:40] JollyHodler commented on #54
"Animals (hot)
Crypto (fresh)"
This would be better, yes.  Thank you.  I apologize for not being specific enough though, there is more.  Allow me to elaborate: 'hot' is the only category that is included, even on my computer it defaults to Category: 'hot', Subcategory: Animals; with no option of displaying Category: 'fresh', Subcategory: 'Animals' i.e. screenshots from my computer:
![Screenshot 20

[2022-06-22 20:08] hellobordois opened #55 "User complains 2 Hired Gun NFTs is only getting him 11% off fees but should get him 15% off fees"
User complains holding 2 Hired Gun NFTs is only getting him 11% off fees but he thinks it should get him 15% off fees.

OG NFTs give 50% off for one, and 75% off for two. Shouldn't Hired Gun NFTs give 10% off for one, and 15% off for two?

[2022-06-27 09:25] Topstar-web commented on #3
@adrian-fjellberg
Fixed this issue and made a PR for this
https://github.com/Nudes-Token/nudes-army-webpage/pull/21

[2022-06-27 11:05] adrian-fjellberg commented on #55
@hellobordois Can you contact the user and make him check if it is correct now? I think this has been fixed.

[2022-06-27 11:05] #55 closed

[2022-06-27 11:08] adrian-fjellberg commented on #3
@Topstar-web Closed this issue and the pull request as @odd86 said this was already fixed.

[2022-06-27 11:08] #3 closed

[2022-06-27 12:52] Topstar-web commented on #48
https://github.com/Nudes-Token/nudes-army-webpage/pull/23
done it

[2022-06-29 14:41] Topstar-web commented on #42
@hellobordois , I tested but downvote is working fine with updating its number. 🤔

[2022-06-29 14:47] hellobordois commented on #42
@Topstar-web I believe this has been fixed.

[2022-06-29 14:51] Topstar-web commented on #42
Perfect 👍

[2022-06-29 14:52] Topstar-web commented on #52
https://github.com/Nudes-Token/nudes-army-webpage/pull/26
fixed.

[2022-06-30 07:32] #48 closed

[2022-06-30 07:35] #49 closed

[2022-06-30 07:37] #52 closed

[2022-06-30 12:48] hellobordois commented on #42
@adrian-fjellberg @Topstar-web I reopened since I still get the issue on Chrome. See screenshot taken on main page, but the meme has downvotes that I only see on that meme's page.

<img width="731" alt="Screen Shot 2022-06-30 at 8 46 32 AM" src="https://user-images.githubusercontent.com/107487385/176680582-0e6f6c96-205c-42a7-a99e-5bb5b953af0a.png">

[2022-07-04 08:11] #16 closed

[2022-07-04 08:12] #46 closed

[2022-07-04 08:14] adrian-fjellberg opened #57 "Stats for NUDES earnings"
From user `war3rd#8555`:
A suggestion for those of us who post memes. A way to see how many Nudes we've accrued and claimed throughout the past day (24 hours, selected time frame, etc) when we claim multiple times throughout the day and don't keep track. Not a huge priority but still would be fun to track to see how much we made vs yesterday, the day before, the day before that, etc. I may suck at

[2022-07-04 08:16] adrian-fjellberg opened #58 "Make the voting buttons keep their colors to see what I have voted on"
**Is your feature request related to a problem? Please describe.**
Issue from the user `StanlyOne#1827`:
It would also be nice if the upvote/downvote button would lit up when we vote on a meme so it's easier to see where we have already voted on. Not that it's a big deal to vote more then once on the same meme but you know.

Original message: https://discord.com/channels/928449627383037953/9648985

[2022-07-04 08:19] adrian-fjellberg opened #59 "Auto-posting popular posts to Instagram and/or Facebook"
**Is your feature request related to a problem? Please describe.**
Issue from user `rusty#2511`:

Original message: https://discord.com/channels/928449627383037953/964898551773667328/992414334657499177

I believe Instagram would be nice, but I am not sure we should bother with Facebook.

Also, I think a manual check before positing would be nice because auto-posting 100% could be dangerous.

[2022-07-26 00:12] Geralt-of-R1via opened #60 "Update to comment section bellow meme"
Currently we have box area bellow meme, in which users can comment. Comments are placed one bellow each other so users have to scroll as box area is fixed in size. Thats fine for main page but for individual page we should :

1.Remove fixed box area for comments and load all comments bellow meme like in 9gag. Comments should be clearly visible and easy accessible

2. add filter for user to choose

[2022-07-26 00:27] Geralt-of-R1via commented on #3
I'm still seeing same ratio like before. It should be 75% but I'm getting 57%

[2022-08-02 11:37] Geralt-of-R1via opened #61 "Ability to post images, gifs in comments"
It would be great if we can add feature to post attachments - Pics, gifs in comments. It can make comment section more fun to use and it can boost activity on website

[2022-08-05 13:49] Geralt-of-R1via opened #62 "Double meme post on main page"
There is some kind of bug in viewing memes on main page
when you are scrolling sometimes it looks like there is double post
one same meme, posted twice. One above each other
but its not. Its not 2 postings, it is 1 same meme somehow visible 2 times on main page
example: if you comment on first meme, comment will be on second meme too. So its one meme for sure

https://nudes.army/view/aba13d13-4914

[2022-08-05 14:35] Geralt-of-R1via opened #63 "Multiple lines of text in comments not visible"
![asasaasasad](https://user-images.githubusercontent.com/107487414/183099316-269fb41f-40c8-4d9e-9176-66fe1d415290.JPG)

https://nudes.army/view/124783ae-cc84-44d4-9cea-dcc9ff8a6cdd?id=62a887c0b4f864afe44d4ce1

Posted comment with 3 lines of text, only first line is visible. Can't even scroll to check whole text

[2022-08-10 09:40] adrian-fjellberg commented on #63
@NeoDashboard it seems like the `/comments/new` endpoint users query parameters instead of a json payload in the body of the request. I guess that forces the frontend http library to strip out newlines when calling the endpoint, and as a result we are not persisting the comments with newlines.

Could you change this endpoint to accept both query params and json body? Then we can update frontend af

[2022-08-11 10:37] adrian-fjellberg commented on #62
I think this is an issue with pagination of the feed. Because it would take a very long time to load all posts, we do something called pagination where we load 15 and 15 posts as scroll down the page. This is a simple technique that keeps track of what "page" you are currently on and says "hey server! please give me posts on page 3". The issue is that sometimes while you scroll people add new post

[2022-08-12 21:15] adrian-fjellberg commented on #60
Hello Sir!

Number 1. is fixed now along with several other improvements to comments.

To be able to implement your request no. 2, @NeoDashboard will have to add a filter parameter to the endpoint to fetch comments. Can you fix that @NeoDashboard?

[2022-08-12 21:58] adrian-fjellberg commented on #61
GIFs implemented. Images might take some more research so I am sure I can do it securely.

[2022-08-12 22:16] Geralt-of-R1via opened #64 "3 badges next to the avatar"
Reminder for making 3 badges.
1. OG
2. GUNs for hire and
4. Normal user badge

Next to or maybe inside small circle at top corner of avatar

[2022-08-17 09:11] #61 closed

[2022-08-17 09:13] adrian-fjellberg opened #65 "Ability to post images in comments"
It would be great if we can add feature to post pictures in comments.

@Geralt-of-R1via I created a separate issue for images in comments as GIFs are already added.

[2022-08-17 09:14] adrian-fjellberg commented on #3
@Geralt-of-R1via Is this still an issue?

[2022-08-17 09:18] adrian-fjellberg commented on #42
@Geralt-of-R1via I am not able to replicate this issue.

[2022-08-18 16:37] zatouroff commented on #23
@adrian-fjellberg I've started experiencing the same problem again.

[2022-08-24 12:38] Geralt-of-R1via commented on #3
Yes, nothing changed for me.  Getting 57% discount and counter on top is showing it should be 75%

![1111](https://user-images.githubusercontent.com/107487414/186419964-b35bd9be-7e3d-4c07-921a-a2827f27a139.JPG)

[2022-08-25 07:56] adrian-fjellberg opened #66 "Add a rudimentary ad solution"
We already have the code to show a "ad" for our contest-banners for every `n` number posts. Could we maybe allow people to advertise their NFT projects for a daily charge? If we implement this we can:

- check how many click-throughs we generate and
- generate a few bucks (let's keep it cheap to test the waters)
- keep those "please tweet about my project"-people at bay

My suggestion is to set up

[2022-08-25 13:23] odd86 commented on #66
Yes! But maybe advertise a nft? and add their own URL.
If we handle this with users we can use the centralized backend to do it and it would not require much code to implement as we already have the "payment solution" ready

[2022-08-25 13:26] odd86 commented on #66
And I forgot: Back to the consumers as well.
Maybe like this:
Consumers: 50%
Team: 10%
OG's: 15%
Burn: 20%

[2022-08-25 13:27] odd86 commented on #66
Manual, you add the ad, and when we click confirm on Discord it is approved.
So a admin just needs to approve it.

Regarding last message, I forgot LAMBO, we should take 5% from team and OGs and give 10% to LAMBO

[2022-08-25 13:28] adrian-fjellberg commented on #66
Sweet! If you implement the backend endpoints, I can fix the frontend 👯‍♂️

[2022-08-25 13:33] odd86 commented on #66
Maybe also a `/ad-clcik` that you can post to every time a ad is clicked?
And a `/ad-stats` that gives you back userid and number of clicks. That way you can display it to the user that has that userid, also I do not think its dangerous if others get that information?

[2022-08-26 10:06] adrian-fjellberg commented on #66
Some feedback:

Maybe make a more generic link forwarder rather than `POST /ad-click`. If we decide to place the ad multiple places or allow for links in comments etc. My suggestion:

---

`POST /link` [Admin only]
Parameters:
`link_url` **string** The URL the link should forward to
`metadata`: **json** Here you can add like `{"type": "ad", "placement": "sidebar"}`

Returns: The UUID of the new li

[2022-08-26 10:11] odd86 commented on #66
Yes, I can fix this.
So then we have the regular endpoints for

1. Buying an ad
2. Approving ad (Admin)
3. Getting all ads
4. Getting "my" ads (with stats)
5. Getting a link from uuid (that saves stats)

[2022-08-28 19:30] zatouroff opened #67 "Wrong hover text for voting posts"
To replicate the bug;

Open a random post in new tab: https://nudes.army/view/bf1a2643-7126-45f9-823f-0da6501e83d2

Wanted to vote the post but voting button says "comment":
![Screenshot 2022-08-28 220536](https://user-images.githubusercontent.com/107487661/187091034-ad8b232f-5b25-4da7-bbcc-76aa9da5e9cc.png)

Then Vote or click cancel: (This thing opens at bottom, made me confused a little bit. Th

[2022-08-31 15:30] Geralt-of-R1via opened #68 "Ability to view images in full size"
In order to fully maximize wallpapers, animals, photography categories we need ability for users to view images in full size.

For example.
v1
1. step user click on Meme on main page
2. individual meme pages opens.
3. when user clicks on image on individual page, image opens in full size so it can be downloaded

v2.

Small download button next to the image on all pages and when users click on it,

[2022-09-01 08:18] adrian-fjellberg commented on #68
Hello. I agree with you on this one as it annoys me as well 😅

The good thing is that the original image uploaded is preserved and the downscaling happens as cached copy only. So we have the possibility to let the user view images in a larger view and download the original.

I am not sure when and if I am able to fix this, but I will put it in my personal backlog.

[2022-09-01 08:41] adrian-fjellberg commented on #67
Fixed. Should be live in 5 minutes.

[2022-09-01 08:41] #67 closed

[2022-09-20 07:42] odd86 commented on #12
There are some HUGE upsides to using Vue that I would not shift out for anything in the world.
One of them is serverless 😅